[submodule "lib/ChibiOS"]
	path = lib/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "lib/dhepper_font8x8"]
	path = lib/dhepper_font8x8
	url = https://github.com/dhepper/font8x8.git
